<!doctype html>
<html lang="en" ng-app="smsSplitApp">
<head>
  <meta charset="utf-8">
  <title>SMS Split Demo - Fervent Fox Marketing</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/app.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
</head>
<body>

  <div class="container" ng-controller="SmsSplitCtrl">

    <div class="header text-center">
      <div class="logo">
        <a href="https://ferventfox.com/" target="_blank">
          <img src="img/ferventfox.png" alt="Fervent Fox Marketing" />
        </a>
      </div>
      <h2>How SMS Messages Get Split</h2>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Message Character length: <strong>{{ input.length }}</strong> | SMS Segments: <strong>{{ smsSegments.length }}</strong>
      </div>

      <div class="panel-body">
        <div class="row mb-5">
          <div class="col-12 col-md-6">
            <div class="text-input btn-group">
              <textarea class="form-control" ng-trim="false" ng-model="input" placeholder="Type message in here..."></textarea>
              <!-- <label class="radio" ng-repeat="encoding in allEncodings">
                <input type="radio" value="{{ encoding }}" name="encoding" ng-model="$parent.encoding">
                {{ encoding }}
              </label> -->
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="char-data">
              <span ng-show="charData">{{ charData.codepoint }}: {{ charData.name }}</span>
              <span ng-hide="charData">
                <small class="text-muted">
                  [hover over a character to see it's codepoint and name]
                </small>
              </span>
            </div>
          </div>
        </div>

        <!-- Segments -->
        <div ng-repeat="segment in smsSegments track by $index" class="segment" ng-init="seg = $index">
          <h5>Segment {{seg + 1}} of {{smsSegments.length}}</h5>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <span ng-repeat="char in segment.text track by $index"
                class="char p-{{seg}}-{{$index}} {{isEncoded[seg][$index]}}"
                ng-mouseenter="highlightBytes(seg, $index)" ng-mouseleave="unhighlightBytes(seg, $index)"
                ng-bind="char">
              </span>
            </div>
            <div class="col-md-7">
              <span ng-repeat="bytes in segment.bytes track by $index"
                ng-mouseenter="highlightBytes(seg, $index)" ng-mouseleave="unhighlightBytes(seg, $index)"
                class="bytes p-{{seg}}-{{$index}}">
                <span ng-repeat="byte in bytes track by $index" class="byte">
                  {{ byte | hex_byte }}
                </span>
              </span>
            </div>
          </div>
        </div>
        <!-- End segments -->
      </div>
    </div>
  </div>


  <script src="js/gsm.js"></script>
  <script src="js/smssplit.js"></script>
</body>
</html>
